body {
    font-family: "Inter", system-ui;
    font-size: 14px;
    background-color: hsl(0, 0%, 8%);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
    width: 278px;
    padding: 24px;
    border-radius: 15px;
}
.profile-pic{
    border-radius: 50%;
    width: 80px;
    margin-bottom: 32px;
}
.name{
color: white;
font-size: x-large;
font-weight: 700;
margin-bottom: 20px;
}
.location{
color: hsl(75, 94%, 57%);
margin-bottom: 35px;

font-weight: 600;
}
.info{
color: white;
margin-bottom: 28px;
font-weight: 400;
}
.links{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.links  a{
    text-decoration: none;
    color: white;
    width: 254px;
    padding: 11px;
    margin-bottom: 15px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    font-weight: 700;
}
.links a:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}
#last{
    margin-bottom: 0px;
}